@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");
@import "tailwindcss";

@theme {
  --background-image-nike: url("../src/assets/bg.png");
  --font-sans: "Poppins", sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

@keyframes scrollVertical {
  from {
    transform: translateY(calc(-100% + 100vh));
  }

  /* End position: shift entire column down, but not so that it goes out of view */
  to {
    transform: translateY(calc(100% - 100vh));
  }
}

.scroll-vertical {
  animation: scrollVertical 30s linear forward;
  animation-timeline: scroll(root block);
}

html {
  scroll-behavior: smooth;
}
